.button {
  display: inline-block;
  @include py($size: 3);
  @include px($size: 10);
  border: 1px solid $buttonBorderColor;
  border-radius: $buttonBorderRadius;
  background-color: $buttonBackgroundColor;
  color: $buttonColorText;
  cursor: pointer;

  &:hover {
    background-color: $buttonBackgroundColorHover;
    color: $buttonColorTextHover;
  }

  &:active {
    background-color: $buttonBackgroundColorActive;
    color: $buttonColorTextActive;
    border-color: $buttonBorderColorActive;
  }

  &:disabled {
    background-color: $buttonBackgroundColorDisabled;
    color: $buttonColorTextActive;
    border-color: $buttonBorderColorDisabled;
    cursor: not-allowed;
  }
}

.buttonReaction {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 30px;
  border: 1px solid $buttonReactionBorderColor;

  &:hover {
    border-color: $buttonReactionBorderColorHover;
  }
}

.buttonReaction__counter {
  width: 20px;
  height: 20px;
  //min-width: 20px;
  //max-width: 20px;
  //min-height: 20px;
  //max-height: 20px;
}

.buttonReaction__spinner {
  transform: translateY(-6px);
}

.buttonReaction__icon {
  margin-right: 10px;
}

.buttonReaction__count {

}

.button--delete {
  background-color: $buttonBackgroundColorDelete;
  border-color: $buttonBorderColorDelete;

  &:hover {
    background-color: $buttonBackgroundColorHover;
    color: $buttonColorDelete;
  }
}
