/**************************\
  Basic Modal Styles
\**************************/
.idx_modal {
  position: relative;
  transition: opacity 0.5s ease-in-out, z-index 0.5s ease-in-out;
  opacity: 0;
  z-index: -10;

  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color1, 0.6);
    cursor: pointer;
    z-index: 10;
  }

  .modal__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;

    @include media-tablet-m {
      flex-direction: column;
      max-height: 100vh;
      width: 100%;
    }
  }

  .modal__container {
    background-color: $color2;
    width: 980px;
    height: 680px;
    border-radius: $modalContainerBorderRadius;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;

    @include media-tablet-m {
      flex-direction: column;
      max-height: 100vh;
      width: 100%;
      height: auto;
    }
  }

  .modal__container-schedule {
    width: auto;
  }

  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    //position: fixed;
    //right: 0;
    //width: 41%;
    position: absolute;
    width: 100%;
    padding: 20px;
    z-index: 20;

    @include media-mobile-x {
      width: auto;
      left: 0;
      right: 0;
      top: -80px;
    }
  }

  .modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: $color3;
    box-sizing: border-box;
  }

  .modal__close {
    width: 30px;
    height: 30px;
    background-color: $backgroundButtonClose;
    color: $colorButtonClose;
    border-radius: $buttonBorderRadius;
    cursor: pointer;
    border: 1px solid $borderButtonColor;
    transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &:hover {
      background-color: $backgroundButtonCloseHover;
      border: 1px solid $borderButtonColorHover;
    }

    @include media-mobile-x {
      position: absolute;
      right: 20px;
    }
  }

  .modal__header .modal__close:before {
    content: '\2715';
  }

  .modal__content {
    height: 100%;
    padding-bottom: 20px;
    line-height: 1.5;
    color: rgba($color1, 0.8);
    position: relative;
    z-index: 10;

    padding-top: 30px;

    @include media-mobile-x {
      padding-top: 0;
    }
  }

  .modal__content-center {
    padding: 40px 20px 20px;

    @include media-mobile-x {
      height: 50vh;
      overflow-y: auto;
      overflow-x: hidden;
      padding-top: 20px;
    }

    /* width */
    &::-webkit-scrollbar {
      width: 5px;

      @include media-tablet-m {
        height: 5px;
      }
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $color3;
    }

    &::-webkit-scrollbar-track-piece {
      background: $color4;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $color3;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $color4;
    }
  }

  .modal__btn {
    font-size: 0.875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: $color2;
    color: rgba($color1, 0.8);
    border-radius: 0.25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  }

  .modal__btn:focus,
  .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  .modal__btn-primary {
    background-color: $color3;
    color: $color2;
  }

  /**************************\
    Demo Animation Style
  \**************************/
  @keyframes mmfadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes mmfadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes mmslideIn {
    from {
      transform: translateY(15%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes mmslideOut {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-10%);
    }
  }

  .micromodal-slide {
    display: none;
  }

  .micromodal-slide.is-open {
    display: block;
  }

  .modal__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    width: 60%;
    background-color: $color2;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    z-index: 20;

    /* width */
    &::-webkit-scrollbar {
      width: 5px;

      @include media-tablet-m {
        height: 5px;
      }
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $color3;
    }

    &::-webkit-scrollbar-track-piece {
      background: $color4;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $color3;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $color4;
    }

    @include media-tablet-m {
      justify-content: flex-start;
      flex-wrap: nowrap;
      width: 100%;
      height: 350px;
      overflow-x: auto;
      overflow-y: hidden;
    }

    @include media-mobile-x {
      height: 100%;
      max-height: none;
      min-height: 50vh;
    }
  }

  .idx__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .idx__gallery-item {
    width: 49.54%;
    height: auto;
    @include media-tablet-m {
      width: 100%;
      min-width: 350px;
    }

    @include media-mobile-x {
      min-width: auto;
    }
  }

  .idx__gallery-item--full {
    width: 100%;
  }

  .idx__gallery-item:last-child {
    margin-left: 0;
    margin-right: auto;
  }

  .modal__details {
    flex: 1;
    position: relative;
    padding: 0;

    /* width */
    &::-webkit-scrollbar {
      width: 5px;

      @include media-tablet-m {
        height: 5px;
      }
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $color3;
    }

    &::-webkit-scrollbar-track-piece {
      background: $color4;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $color3;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $color4;
    }

    @include media-mobile-x {
      height: 100%;
      max-height: 50vh;
      //overflow-y: auto;
      //overflow-x: hidden;
    }
  }

  .modal__status {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 0 30px;
    border-radius: $buttonBorderRadius;
    font-size: 12px;
    background-color: $color1;
    color: $color2;
    text-transform: uppercase;
  }

  .modal__status--active {
    background-color: $color6;
  }

  .modal__status--inactive {
    background-color: $color1;
  }

  .modal__row {
    display: flex;
    align-items: center;
    padding: 0 0 20px;
  }

  .modal__amount {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    border-right: 1px solid lighten($color1, 80);
  }

  .modal__amount-price {
    font-size: 40px;
    font-weight: 600;

    @include media-mobile-m {
      font-size: 30px;
    }
  }

  .modal__monthly {
    min-width: 100px;
    padding-left: 20px;
  }

  .modal__monthly-price {
    display: block;
  }

  .modal__small {
    font-size: 14px;
  }

  .modal__color--mute {
    color: lighten($color1, 50);
  }

  .modal__spec {
    display: flex;
    padding: 10px 20px;
    background-color: $color4;
    border-radius: $specBorderRadius;
  }

  .modal__spec-item {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
  }

  .modal__spec-item:nth-child(2) {
    border-right: 1px solid lighten($color3, 40);
    border-left: 1px solid lighten($color3, 40);
    padding-left: 20px;
  }

  .modal__spec-item:last-child {
    padding-left: 20px;
  }

  .modal__text--bold {
    font-weight: 600;
  }

  .modal__smaller {
    font-size: 12px;
  }

  .modal__address {
    display: flex;
    flex-direction: column;
  }

  .modal__address-text {
    margin: 0;
    padding: 0;
  }

  .modal__features-title {
    margin: 0;
    padding: 0 0 10px;
  }

  .modal__features-items {
    display: flex;
    flex-wrap: wrap;
  }

  .modal__features-item {
    flex-basis: 50%;

    display: flex;
    align-items: flex-start;

    padding-bottom: 10px;
  }

  .modal__features-ico {
    width: 20px;
    margin-right: 10px;
    padding-top: 2px;
  }

  .modal__features-ico svg {
    width: 20px;
    height: 20px;
  }

  .modal__features-item__content {
    display: flex;
    flex-direction: column;
  }

  .modal__features-item__heading {
    font-weight: 600;
  }

  .modal__features-item-text {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }

  .modal__buttons {
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
  }

  .modal__content-left {
    position: absolute;
    width: 100%;
    left: -150%;
    top: 0;
    bottom: 0;
    transition: left 0.3s ease-in-out, opacity 0.4s ease-in-out;
    background-color: $color2;
    opacity: 0;
    z-index: 20;

    padding: 80px 20px 20px;

    &--active {
      left: 0%;
      opacity: 1;
    }

    @include media-mobile-x {
      height: 50vh;
      overflow-y: auto;
      overflow-x: hidden;
      padding-top: 20px;
    }

    /* width */
    &::-webkit-scrollbar {
      width: 5px;

      @include media-tablet-m {
        height: 5px;
      }
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $color3;
    }

    &::-webkit-scrollbar-track-piece {
      background: $color4;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $color3;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $color4;
    }
  }

  .modal__content-right {
    position: absolute;
    width: 100%;
    left: 150%;
    top: 0;
    bottom: 0;
    transition: left 0.3s ease-in-out, opacity 0.4s ease-in-out;
    background-color: $color2;
    z-index: 20;
    opacity: 0;

    padding: 80px 20px 20px;
    overflow-y: auto;
    overflow-x: hidden;

    /* width */
    &::-webkit-scrollbar {
      width: 5px;

      @include media-tablet-m {
        height: 5px;
      }
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $color3;
    }

    &::-webkit-scrollbar-track-piece {
      background: $color4;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $color3;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $color4;
    }

    &--active {
      left: 0%;
      opacity: 1;
    }

    @include media-mobile-x {
      padding-top: 20px;
      margin-bottom: 20px;
    }
  }

  .modal__content-header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 20px;

    position: absolute;
    top: 72px;

    @include media-mobile-x {
      top: 12px;
    }
  }

  .modal__content-header-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    padding-bottom: 20px;
    padding-left: 40px;

    @include media-mobile-x {
      padding-left: 40px;
    }
  }

  .idx__button-square--reverse {
    transform: rotate(-180deg) translateX(-14px);
  }
}

.idx_modal--active {
  opacity: 1;
  z-index: 100;
}

.modal-schedule {
  .modal__inner {
    max-width: 520px;
  }

  .modal__container-schedule {
    height: 780px;
    overflow-y: auto;

    @include media-tablet-x {
    }

    @include media-tablet-m {
    }

    @include media-mobile-x {
    }

    @include media-mobile-x {
      height: 50vh;
      overflow-y: auto;
      overflow-x: hidden;
      padding-top: 20px;
    }

    /* width */
    &::-webkit-scrollbar {
      width: 5px;

      @include media-tablet-m {
        height: 5px;
      }
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $color3;
    }

    &::-webkit-scrollbar-track-piece {
      background: $color4;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $color3;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $color4;
    }
  }

  .modal__content {
    padding-top: 75px;

    @include media-mobile-x {
      padding-top: 0;
    }
  }

  .modal__content-header-title {
    padding-left: 0;
  }

  .form__select .form__select-options {
    height: 160px;
  }

  .modal__details {
    max-height: none;
  }

  .modal__container-schedule,
  .modal__content-center {
    @include media-mobile-x {
      height: auto;
      max-height: 100vh;
    }
  }

  .modal__container-schedule {
    padding-top: 0;
  }

  .modal__content-center {
    padding-top: 0;
  }

  .modal__header {
    @include media-mobile-x {
      position: static;
    }
  }

  .idx__form--success {
    .modal__content-header-title {
      @include media-mobile-x {
        text-align: center;
      }
    }

    .form__success {
      @include media-mobile-x {
        height: 300px;
        position: static;
        transform: translateY(0);
      }
    }
  }

  .idx__from--failed {
    .modal__content-header-title {
      @include media-mobile-x {
        text-align: center;
      }
    }

    .form__failed {
      @include media-mobile-x {
        height: 300px;
        position: static;
        transform: translateY(0);
      }
    }
  }
}
