.postBody {
  @include py($size: 10);
}

.postFooter {
  display: flex;
  align-items: center;
  gap: 20px;
}

.postPreview__meta {
  opacity: .5;
  font-weight: 100;
}

.postPreview__meta-item {
  @include px($size: 4);
  border-right: 1px solid $color1;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    border-right: none;
  }
}

.postReactions {
  display: flex;
  gap: 20px;
}

.postReactions {
  margin-left: auto;
}

