.userData {
  display: flex;
  gap: 50px;
  align-items: center;
}

.userData__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid $color5;
}

.userPosts {
  @include pt($size: 10);
}

.userPosts__list {
}

.userPosts__item {
  @include pt($size: 3);
}

.userPosts__link {

  font-size: $fontSizeBig;
}
