/* COLORS */
$color1: #232323;
$color2: #ffffff;
$color3: #0061df;
$color4: #4ed192;
$color5: #df0000;

/* PADDING & MARGIN FACTOR */
$factor: .4rem;

/* FONTS COLOR*/
$fontColorDefault: $color1;

/* FONTS SIZE */
$fontSizeDefault: 1.6rem;
$fontSizeH1: 3rem;

/* LINE HEIGHT */
$lineHeightDefault: 1.5;

