$color1: #232323;
$color2: #ffffff;
$color3: #003da5;
$color4: lighten($color3, 50);
$color5: lighten($color3, 40);
$color6: #4ed192;
$color7: #dc1c2d;

$colorText: $color1;
$colorTextActive: $color3;
$colorActiveTitle: $color3;
$colorButtonClose: $color2;

$backgroundButtonClose: $color7;
$backgroundButtonCloseHover: $color1;
$buttonActiveBackground: $color7;
$buttonBackground: $color3;

$buttonBorderColor: $color3;
$borderButtonColor: $color7;
$borderPaginationColor: $color3;
$borderPaginationColorHover: $color1;
$borderButtonColorHover: $color3;
$backgroundPagination: $color3;
$backgroundPaginationInactive: $color4;
$backgroundPaginationHover: $color1;

$selectOptionsBorderRadius: 0px;
$modalContainerBorderRadius: 0px;
$buttonBorderRadius: 0px;
$fieldBorderRadius: 0px;
$cardBorderRadius: 0px;
$itemBorderRadius: 0px;
$specBorderRadius: 0px;
$borderRadiusOptions: 0px;
